#cabecalho{

}
aside{
    width: 40%;
    padding-left: 10px;
    margin-left: 10px;
    float: right;
    box-shadow: inset 5px 0 5px -5px #29627e;
    font-style: italic;
    color: #012030;
}

.barra{
    
}